@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-bg: #fbf8ec;
  --color-green: #70c05b;
  --fontColor-black: #414141;
  --color-orange: #ff6633;
  --color-grey: #606060;
  --color-lightGrey: #bfbfbf;
  --inp-grey: #8f8f8f;
  --color-darker: #232323;
  --color-footer: #f9f4e2;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1248px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

header {
  position: sticky;
  z-index: 9999999;
  top: 0;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 13px 0;
  gap: 40px;
}
header .navbar .nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
@media (max-width: 1100px) {
  header .navbar .nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    padding: 20px;
  }
}
header .navbar .nav-left .nav-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
header .navbar .nav-left .nav-hamburger button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  max-width: 140px;
  padding: 8px;
  border-radius: 4px;
  background-color: #70c05b;
}
header .navbar .nav-left .nav-hamburger button p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
@media (max-width: 1200px) {
  header .navbar .nav-left .nav-hamburger button p {
    display: none;
  }
}
@media (max-width: 700px) {
  header .navbar .nav-left .nav-hamburger button {
    display: none;
  }
}
header .navbar .nav-left .nav-hamburger .search__input {
  position: relative;
}
header .navbar .nav-left .nav-hamburger .search__input .search__input2 {
  position: absolute;
  display: none;
  overflow: auto;
  width: 360px;
  background-color: rgba(200, 200, 200, 0.9);
  padding: 18px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 650px) {
  header .navbar .nav-left .nav-hamburger .search__input .search__input2 {
    width: 100%;
  }
}
header .navbar .nav-left .nav-hamburger .search__input .search-input {
  width: 360px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #70c05b;
  border-radius: 4px;
  padding-left: 18px;
  color: var(--fontColor-black);
  font-size: 18px;
  font-family: "Rubik";
  font-weight: 700;
  line-height: 150%;
  color: #70c05b;
  padding-right: 18px;
}
@media (max-width: 650px) {
  header .navbar .nav-left .nav-hamburger .search__input .search-input {
    width: 100%;
  }
}
header .navbar .nav-left .nav-hamburger .search__input .search-input::-moz-placeholder {
  display: flex;
  align-items: center;
  color: #8f8f8f;
}
header .navbar .nav-left .nav-hamburger .search__input .search-input::placeholder {
  display: flex;
  align-items: center;
  color: #8f8f8f;
}
header .navbar .nav-left .nav-hamburger .search__input .search__input-box .search__input-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-bottom: 1px solid #000;
  padding: 15px;
}
header .navbar .nav-left .nav-hamburger .search__input .search__input-box .search__input-card img {
  max-width: 70px;
  border-radius: 5px;
}
header .navbar .nav-left .nav-hamburger .search__input .search__input-box .search__input-card h3 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 5px;
  color: black;
  font-size: 25px;
  font-family: "Rubik";
  font-weight: 700;
  line-height: 150%;
}
header .navbar .nav-left .nav-hamburger .search__input .search__input-box .search__input-card p {
  color: var(--color-grey);
  font-size: 25px;
  font-family: "Rubik";
  line-height: 150%;
}
header .navbar .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}
header .navbar .nav-right-hamburg button, header .navbar .nav-right-like a, header .navbar .nav-right-product a, header .navbar .nav-right-basket a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
}
header .navbar .nav-right-hamburg button p, header .navbar .nav-right-like a p, header .navbar .nav-right-product a p, header .navbar .nav-right-basket a p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}
header .navbar .nav-right-hamburg button {
  display: none;
}
header .navbar .nav-right-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
header .navbar .nav-right-login p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #232323;
}
@media (max-width: 650px) {
  header .navbar .nav-right-login p {
    display: none;
  }
}
@media (max-width: 1100px) {
  header .navbar .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 999999;
    bottom: 0px;
  }
}
@media (max-width: 700px) {
  header .navbar .nav-right-hamburg button {
    display: block;
  }
}
header .toggle {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 0px;
  overflow: hidden;
  transition: 0.3s linear;
  padding: 0;
  gap: 40px;
  row-gap: 24px;
}
header .toggle a {
  width: 272px;
  color: var(--fontColor-black);
  font-size: 16px;
  font-family: "Rubik";
  font-weight: 700;
  line-height: 150%;
}

#modal {
  position: fixed;
  height: 100vh;
  top: 0;
  margin-top: -1500px;
  opacity: 0;
  transition: 0.5s;
  background: rgba(252, 213, 186, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#modal .modal {
  position: fixed;
  top: calc(100% - height);
  left: 0;
  right: 0;
  bottom: calc(100% - height);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  max-width: 420px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
}
#modal .modal h2 {
  padding-top: 56px;
  color: var(--fontColor-black);
  text-align: center;
  font-size: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
#modal .modal .modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  background: #f3f2f1;
}
#modal .modal .modal-close-btn img {
  width: 24px;
  height: 24px;
}
#modal .modal .modal__input {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
#modal .modal .modal__input label {
  color: var(--inp-grey);
  font-size: 18px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#modal .modal .modal__input input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid red;
}
#modal .modal .modal__input input:focus {
  box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
  border: 1px solid var(--main-secondary, #70c05b);
}
#modal .modal .modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
#modal .modal .modal__btn .enter-btn {
  max-width: 260px;
  background-color: #fcd5ba;
  border-radius: 4px;
  padding: 16px;
  width: 260px;
  color: #f63;
  text-align: center;
  font-size: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#modal .modal .modal__btn div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  margin-bottom: 40px;
}
#modal .modal .modal__btn div .registr-btn {
  max-width: 121px;
  background-color: transparent;
  border-radius: 4px;
  width: 121px;
  padding: 8px;
  border: 1px solid var(--main-secondary, #70c05b);
  color: var(--color-green);
  font-size: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#modal .modal .modal__btn div a {
  padding: 8px;
  color: var(--color-grey);
  text-align: center;
  font-size: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

footer {
  background-color: var(--color-footer);
  background-image: url(../../assets/images/home/home-img-2.png);
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 58px;
  gap: 35px;
}
@media (max-width: 1050px) {
  footer .footer {
    padding-bottom: 110px;
  }
}
footer .footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
footer .footer-nav ul a {
  color: var(--fontColor-black);
  font-size: 12px;
  font-family: "Rubik";
  line-height: 150%;
}
@media (max-width: 960px) {
  footer .footer-nav ul {
    gap: 15px;
  }
}
footer .footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
footer .footer-contact-social {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 960px) {
  footer .footer-contact-social {
    gap: 5px;
  }
}
footer .footer-contact-aftr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .footer-contact-aftr a {
  color: var(--fontColor-black);
  font-size: 16px;
  font-family: "Rubik";
  line-height: 150%;
}

#catalog {
  background-color: var(--main-bg);
}
#catalog .catalog {
  padding-top: 44px;
}
#catalog .catalog__header h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: var(--fontColor-black);
}
#catalog .catalog__footer {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media (max-width: 900px) {
  #catalog .catalog__footer {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 700px) {
  #catalog .catalog__footer {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 0px) {
  #catalog .catalog__footer {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
#catalog .catalog__footer--card {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}
#catalog .catalog__footer--card img {
  width: 100%;
}
#catalog .catalog__footer--card:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
#catalog .catalog__footer--card:nth-child(10) {
  grid-column-start: 3;
  grid-column-end: 5;
}
#catalog .catalog__footer--card:nth-child(12) {
  grid-column-start: 2;
  grid-column-end: 4;
}
@media (max-width: 900px) {
  #catalog .catalog__footer--card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #catalog .catalog__footer--card:nth-child(10) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  #catalog .catalog__footer--card:nth-child(11) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #catalog .catalog__footer--card:nth-child(12) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 700px) {
  #catalog .catalog__footer--card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #catalog .catalog__footer--card:nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #catalog .catalog__footer--card:nth-child(11) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #catalog .catalog__footer--card:nth-child(12) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
#catalog .catalog__footer--card a {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70c05b 82.81%);
}
#catalog .catalog__footer--card a:hover {
  background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #f63 100%);
}