@use "../utils/function" as func;
@use "../utils/variables" as var;

.container {
  max-width: func.container(1440, 116, var.$mobilePadding);
  padding-left: var.$mobilePadding;
  padding-right: var.$mobilePadding;
  margin: 0 auto;
}
