@use "../utils/mixin" as mix;
@use "../utils/variables" as var;
@use "../base/typography";

footer {
  background-color: var(--color-footer);
  background-image: url(../../assets/images/home/home-img-2.png);
  .footer {
    @include mix.df(space-between, center, row);
    padding-top: 24px;
    padding-bottom: 58px;
    gap: 35px;
    @media (max-width: 1050px) {
      padding-bottom: 110px;
    }
    @media (max-width: 730px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    @media (max-width: 730px) {
      display: flex;
      flex-wrap: wrap;
    }
    &-nav ul {
      @include mix.df(space-between, center, row);
      gap: 40px;
      flex-wrap: wrap;
      a {
        color: var(--fontColor-black);
        font-size: 12px;
        font-family: "Rubik";
        line-height: 150%;
      }
      @media (max-width: 960px) {
        gap: 15px;
      }
    }
    &-contact {
      @include mix.df(space-between, center, row);
      gap: 40px;
      &-social {
        flex-wrap: wrap;
        @include mix.df(space-between, center, row);
        gap: 16px;
        @media (max-width: 960px) {
          gap: 5px;
        }
        @media (max-width: 850px) {
          display: grid !important;
          grid-template-columns: 1fr 1fr;
        }
      }
      &-aftr {
        @include mix.df(space-between, center, row);
        a {
          color: var(--fontColor-black);
          font-size: 16px;
          font-family: "Rubik";
          line-height: 150%;
        }
      }
    }
  }
}
